body {
    font-family: 'Roboto';font-size: 25px;
}
.latest-product-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
h2 {
    font-size: 30px;
}


p {

    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;

}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    margin: 0 0 15px;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: #515769;
}
.margin-b-20 {
    margin-bottom: 20px !important;
}

.margin-b-40 {
    margin-bottom: 40px !important;
}

.margin-b-50 {
    margin-bottom: 40px !important;
}
 a:hover {
    color: #999caa;
    text-decoration: none;
}
span {
    font-size: 14px;
    font-weight: 400;
    color: #bfc1c7;
}
a:active, a:focus, a:hover {
    color: #999caa;
}
.text-uppercase {
    text-transform: uppercase;
}
.link {
    font-size: 13px;
    font-weight: 600;
}
