{% extends "webapp/base.html" %}

{% block content %}
{% load static from staticfiles%}


<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Mobile Analytics</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li ><a href="{%url 'mobileview'%}">Home</a></li>
             
              <li><a href="#">About</a></li>
              
              
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
             -->
          </div>
        </div>
      </nav>
        
      <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-sm-2 sidenav">
                <ul class="nav nav-pills nav-stacked">
                      
                        <li><a href="#section2">User Profile</a></li>
                </ul><br>
          </div>
        <div class="col-sm-8 text-left"> 
            
            <div class="container latest-product-section"> 
                <form action="" method="POST">
                    {%csrf_token%}
                    <ul id="sortable">
                    {%for f in feat %}
                        <li id="{{f.feature}}-{{f.position}}">
                            {%if 'price' in f.feature%}
                                <div class="row">
                                        <div class="col-md-1" >
                                        <p> Price</p>               
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <select id="first-choice" class="form-control">
                                                        <option selected value=""> blank</option>
                                                        <option  value=10000>10000</option>
                                                        <option value=15000>15000</option> 
                                                        <option value=20000>20000</option> 
                                                </select>
                                            <input type="hidden" value="" id="first_choice_value" name="first_choice_value"/>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <select id="first-choice2" class="form-control">
                                                        <option selected value=""> blank</option>
                                                        <option  value=35000>35000</option>
                                                        <option  value=50000>50000</option>
                                                        <option value=80000>80000</option> 
                                                </select>
                                                <input type="hidden" value="" id="first_choice2_value" name="first_choice2_value"/>
                                            </div>    
                                        </div>
                                </div>
                            {% elif 'color' in f.feature   %}
                                <div class="row">
                                        <div class="col-md-1">
                                          <p> Color</p>               
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select id="second-choice" class="form-control">
                                                        <option selected value=""> blank</option>
                                                        {% for c in colors %}
                                                            <option  value="{{c}}">{{c}}</option>
                                                        {% endfor %}
                                                </select>
                                                <input type="hidden" value="" id="second_choice_value" name="second_choice_value"/>
                                            </div>   
                                        </div>
                                        
                                </div>
                            {% elif 'os' in f.feature %}   
                                <div class="row">
                                        <div class="col-md-1" >
                                          <p> OS</p>               
                                        </div>
                                        <div class="col-md-4" >
                                            <div class="form-group">
                                                <select id="third-choice" class="form-control" >
                                                        <option selected value=""> blank</option>
                                                        {% for o in os %}
                                                            <option  value="{{o}}">{{o}}</option>
                                                        {% endfor %}
                                                    </select>
                                                <input type="hidden" value="" id="third_choice_value" name="third_choice_value"/>
                                            </div>
                                        </div>
                                        
                                </div>
                            {% elif 'size' in f.feature %}   
                                <div class="row">
                                        <div class="col-md-1">
                                          <p> Size</p>               
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <select id="fourth-choice" class="form-control">
                                                        <option selected value=""> blank</option>
                                                        {% for s in size %}
                                                            <option  value="{{s}}">{{s}}</option>
                                                        {% endfor %}
                                                    </select>
                                                <input type="hidden" value="" id="fourth_choice_value" name="fourth_choice_value"/>
                                            </div>        
                                        </div>
                                        <div class="col-md-2" >
                                            <div class="form-group">
                                                <select id="fourth-choice2"  class="form-control">
                                                        <option selected value=""> blank</option>
                                                        {% for s in size %}
                                                            <option  value="{{s}}">{{s}}</option>
                                                        {% endfor %}
                                                    </select>
                                                <input type="hidden" value="" id="fourth_choice2_value" name="fourth_choice2_value"/>
                                            </div>        
                                        </div>
                                </div>
                                {% elif 'cpu' in f.feature %}   
                                <div class="row">
                                        <div class="col-md-1" >
                                          <p> CPU</p>               
                                        </div>
                                        <div class="col-md-4" >
                                            <div class="form-group">
                                                <select id="fifth-choice" class="form-control">
                                                        <option selected value=""> blank</option>
                                                        {% for p in cpu %}
                                                            <option  value="{{p}}">{{p}}</option>
                                                        {% endfor %}
                                                    </select>
                                                <input type="hidden" value="" id="fifth_choice_value" name="fifth_choice_value"/>
                                            </div>        
                                        </div>
                                        
                                </div>
                                {% elif 'backcam' in f.feature %}   
                                <div class="row">
                                        <div class="col-md-1" >
                                          <p> Back Camera</p>               
                                        </div>
                                        <div class="col-md-4" >
                                            <div class="form-group">
                                                <select id="six-choice" class="form-control" >
                                                        <option selected value=""> blank</option>
                                                        {% for bcm in back_cm %}
                                                            <option  value="{{bcm}}">{{bcm}}</option>
                                                        {% endfor %}
                                                    </select>
                                                <input type="hidden" value="" id="six_choice_value" name="six_choice_value"/>
                                            </div>        
                                        </div>
                                        
                                </div>
                                {% elif 'battery' in f.feature %}   
                                <div class="row">
                                        <div class="col-md-1" >
                                          <p>Battery</p>               
                                        </div>
                                        <div class="col-md-4" >
                                            <div class="form-group"  >
                                                <select id="seven-choice" class="form-control" >
                                                        <option selected value=""> blank</option>
                                                        {% for b in battery %}
                                                            <option  value="{{b}}">{{b}}</option>
                                                        {% endfor %}
                                                    </select>
                                                <input type="hidden" value="" id="seven_choice_value" name="seven_choice_value"/>
                                            </div>
                                        </div>
                                        
                                </div>
                            {%endif%}
                            </li>
                        {%endfor%}
                        <div class="row">
                                <div class="col-md-1" >
                                        <input type="submit" name="submit" value="look up" />               
                                </div>     
                        </div>
                        
                  
                    </ul>
                    
                    
                </form>
            </div>                 
                            
               
          </div>
          <div class="col-sm-2 sidenav">
            <div class="well">
              
            </div>
            <div class="well">
            
            </div>
          </div>
        </div>
      </div>
      
      <footer class="container-fluid text-center">
        <p>Footer Text</p>
      </footer>
 
           

    <script>
    $("#first-choice").change(function() {
        var selected_id =$("#first-choice").val();
        $('#first_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#first-choice2").change(function() {
        var selected_id =$("#first-choice2").val();
        $('#first_choice2_value').val(selected_id);
        //alert(selected_id);
    });
    $("#second-choice").change(function() {
        var selected_id =$("#second-choice").val();
        $('#second_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#third-choice").change(function() {
        var selected_id =$("#third-choice").val();
        $('#third_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#fourth-choice").change(function() {
        var selected_id =$("#fourth-choice").val();
        $('#fourth_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#fourth-choice2").change(function() {
        var selected_id =$("#fourth-choice2").val();
        $('#fourth_choice2_value').val(selected_id);
        //alert(selected_id);
    });
    $("#fifth-choice").change(function() {
        var selected_id =$("#fifth-choice").val();
        $('#fifth_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#six-choice").change(function() {
        var selected_id =$("#six-choice").val();
        $('#six_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#seven-choice").change(function() {
        var selected_id =$("#seven-choice").val();
        $('#seven_choice_value').val(selected_id);
        //alert(selected_id);
    });
    </script>
    
{% endblock  %}