{% extends "webapp/base.html" %}
{% block content %}
{%load static from staticfiles%}

<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Mobile Analytics</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
             
              <li><a href="{%url 'mobileview'%}">Home</a></li>
              <li><a href="#" >About</a></li>
            
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>-->
          </div>
        </div>
      </nav>
        
      <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-sm-2 sidenav">
                <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">
                                Mobile Phones
                              
                            </a>
                        </li>
                        {% if  user.is_authenticated %}
                        <li>User: {{ user.get_username }}</li>
                        <li><a href="{% url 'signup'%}?next={{request.path}}">Logout</a></li>   
                        {% else %}
                        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
                        {% endif %}  
                        {% if  user.is_superuser %}
                        <li ><a href="{%url 'admin_setup'%}">Advance Search Setup</a></li>
                        {% else %}
                        <li>
                            <a href="{% url 'filter'  %}">ADVANCED SEARCH</a>
                        </li>
                        {%endif%}
                        
                       
                        <li>
                            <a href="#">SAMSUNG</a>
                        </li>
                        <li>
                            <a href="#">QMOBILE</a>
                        </li>
                        <li>
                            <a href="#">OPPO</a>
                        </li>
                        <li>
                            <a href="#">HUAWEI</a>
                        </li>
                        <li>
                            <a href="#">IPHONE</a>
                        </li>
                       
                        
                    </ul>
          </div>
        <div class="col-sm-9 text-left"> 
              
            <div class="container latest-product-section"> 
                    {%  for mob in mobiles  %}
   
                    {% if forloop.counter0|divisibleby:3 %} 
                    <div class="row text-center"> {%  endif %}
                           
                            <div class="col-md-4 sm-margin-b-50 pull-left">
                                    <div class="margin-b-20" >
                                    <img class="img-responsive" src="{% static mob.imagepath1 %}" alt="Latest Products Image" />
                                        </div>
                                    <h4><a href="{% url 'mobileinfo' id=mob.id %}">{{mob.Mobile_Companny}}</a> <span class="text-uppercase margin-l-20">{{mob.Mobile_Name}}</span></h4>
                                    <h1><a href = "{% url 'mobileinfo' id=mob.id %}"> {{mob.price}} </a></h1>
                                    <p>{{mob.OS}}</p>
                                    <a class="link" href="{% url 'mobileinfo' id=mob.id %}">Read More</a>
                            </div>
                {%  if forloop.counter|divisibleby:3 or forloop.last %}
                    </div><!-- row closing --><hr>
                    {%  endif %}
                {%  endfor %}
               
                
                    <div class="pagination">
                    <span class="step-links">
                        {% if mobiles.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ mobiles.previous_page_number }}">previous</a>
                        {% endif %}
                        
                        <span class="current">
                            Page {{ mobiles.number }} of {{ mobiles.paginator.num_pages }}.
                        </span>
                    
                        {% if mobiles.has_next %}
                            <a href="?page={{ mobiles.next_page_number }}">next</a>
                            <a href="?page={{ mobiles.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>                 
                            
               
          </div>
          <div class="col-sm-1 sidenav">
            <div class="well">
                    
            </div>
          </div>
        </div>
      </div>
      
      <footer class="container-fluid text-center">
        <p>Footer Text</p>
      </footer>

<script >



     </script>
{%endblock%}